@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500;800;900&display=swap");
@import "../css/nullstyle.css";

@mixin raleway($size) {
  font-family: Raleway;
  font-weight: $size;
}

.raleway-medium {
  font-family: Raleway;
  font-weight: 500;
}

html,
body {
  height: 100%;
}

li {
  list-style-type: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content {
  flex: 1 0 auto;
}

a {
  outline: none;
  text-decoration: none;
  color: black;
}

.nav {
  flex: 1 0 auto;
}

.nav__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo__image.image {
  max-width: 100%;
}

.logo__text {
  text-align: center;
  @include raleway(900);
  line-height: 41px;
}

.nav__column {
  margin: auto;
}

.nav__menu {
  padding: 0 5px;
  display: flex;
}
.nav__item:last-child {
  color: white;
  background: #4ba87d;
}
.nav__item {
  margin: 0 5px;
  padding: 0 5px;
  border-bottom: 5px #4ba87d solid;
}
.nav__item__item_text {
  @include raleway(800);
  line-height: 20px;
  text-transform: uppercase;
  flex-direction: row-reverse;
  text-align: center;
  line-height: 1, 25rem;
}

.nav__item__item_btn {
  color: white;
}

.footer {
  flex: 0 0 auto;
}

.footer__bottom {
  max-width: 1088px;
  padding: 39px;
  margin: 0px auto;
  border-top: 0.125rem solid #dbdbdb;
  display: flex;
  justify-content: space-evenly;
}

.footer__body {
  display: flex;
  justify-content: space-around;
}

.footer__column li {
  line-height: 22px;
}

.footer_link {
  @include raleway(700);
}

.footer__link > a {
  @include raleway(500);
}

.footer__nav {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 90px;
}
